
/* Define the Fira Sans font face */
@font-face {
    font-family: 'Fira Sans';
    src: url('path/to/FiraSans-Regular.woff2') format('woff2'),
         url('path/to/FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fira Sans';
    src: url('path/to/FiraSans-Bold.woff2') format('woff2'),
         url('path/to/FiraSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Use the Fira Sans font family */
  body {
    font-family: 'Fira Sans', sans-serif;
  }
d-flex {
    display: flex;
}
flex-column {
    flex-direction: column;
}
flex-column {
    flex-direction: column;
}
space-between {
    justify-content: center;
    justify-items:space-between ;
}
space-around {
    justify-content:space-around ;
}
space-evenly {
    justify-content:space-evenly ;
}
align-center {
    align-items: center;
}

h-1 {
    font-size: 80px;
}
.nav-back-ground {
    
}