{% load  static  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap\dist\css\bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'unity.css' %}">
  <script src="{% static 'bootstrap\dist\js\bootstrap.min.js' %}"></script>

</head>
<body>
  {% comment %} <script>
    setTimeout(function() {
      location.reload();
    }, 3000); // Refresh the page after 1 second (1000 milliseconds)
  </script> {% endcomment %}
  <div class="  body-container   position-relative" style="background-color: rgba(239, 240, 242, 0.985);width: 98.5vw; height: 300vh; " >
      <div class="nav navigation nav-container shadow bg-dark" style="height: 8vh; width: 98.5vw;">
        <div class="left-nav-container  d-flex flex-row space-between align-center" style="width: 25vw;">
          <!-- <div class="container">1</div>
          <div class="container">2</div>
          <div class="container">3</div> -->
          <h1 class="text-white h-1">code ocean</h1>


        </div>
      </div>
      <div class="body-container ">
      </div>
      <div class="footer footer-container ">

      </div>

  </div>


</body>
</html>